<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Modifier un client{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{asset('js/script.js')}}"></script>
        {% endblock %}
    </head>
    <body>

        {% block body %}
        
            {% include 'includes/navbar.html.twig' %}

            <section id="update">

                <div class="container-fluid">
                    <div class="row">

                        <!-- menu -->                 
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {% include 'includes/menu.html.twig' %}
                        </div>

                        <!-- titre -->
                        <div class="col-lg-9 col-md-9 col-sm-12">

                            <!-- lien -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h2 class="nouv">Nom</h2>
                                <ul class="listContact">
                                    <a href="{{ path('customer') }}" class="infoGenerale">INFORMATIONS GÉNÉRALES</a>&emsp;
                                    <a href="{{ path('contactUpdate') }}" class="contactLien2">CONTACTS CLIENTS</a>
                                </ul>
                            </div>

                            <!-- debut carré -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="add">

                                    <!-- début form -->
                                    <form method='Post'>

                                        <label class="lab">Nom <span style="color:red">*</span></label>
                                        <input name='name' class="input0" value="">
                                        <p class="error"></p>

                                        <br>

                                        <label class="lab">Code interne</label>
                                        <button disabled="disabled" class="input1" value="">Champs généré automatiquement</button>

                                        <br>

                                        <label class="lab2">Notes / remarques</label>
                                        <textarea name='notes' class="textarea2"></textarea>
                                        <p class="error"></p>

                                        <!-- bouton form -->
                                        <div class="col-lg-12 col-md-12 col-sm-12">
                                            <div class="btnPlace">   
                                                <button type='submit' name='submit' class="btnOrange"><span class="glyphicon glyphicon-ok"></span> SAUVEGARDER</button>&emsp;
                                                <a href="#" data-toggle='modal' data-target='#modal'class="btnOrange"><span class="glyphicon glyphicon-trash"></span> SUPPRIMER</a>
                                            </div>
                                            <br>
                                            <div class="btnPlace1">
                                                <a href="{{ path('customer') }}" class="btnBlanc">Annuler</a> 
                                            </div>

                                            <!-- modal suppression -->
                                            <div class='modal fade' id='modal'> 
                                                <div class='modal-dialog'>
                                                    <div class='modal-content'>
                                                        <div class='modal-header'>
                                                            <button type='button' class='close' data-dismiss='modal'>x</button>
                                                            <h5 class='modal-title' style="font-weight: bold;">Suppression d'un client</h5>
                                                        </div>
                                                        <div class='modal-body'>
                                                            <p>Voulez-vous vraiment supprimer le client <strong>"Nom"</strong> ?</p>
                                                        </div>
                                                        <div class='modal-footer'>
                                                            <form method="post">
                                                                <input type='hidden' value="">
                                                                <button type='submit' name='submit_delete' class="btnOrange">Supprimer</button>&emsp;
                                                            </form>
                                                            <button type='button' class='btnBlanc' data-dismiss='modal'>Fermer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                            
                                        </div>

                                    </form>
                                    
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </section>
            
            {% include 'includes/footer.html.twig' %}

        {% endblock %}

    </body>
</html>