<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Modifier un environnement{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{asset('css/style.css')}}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="{{asset('js/script.js')}}"></script>
        {% endblock %}
    </head>
    <body>

        {% block body %}
        
            {% include 'includes/navbar.html.twig' %}

            <section id="update">

                <div class="container-fluid">
                    <div class="row">

                        <!-- menu -->                 
                        <div class="col-lg-3 col-md-3 col-sm-12">
                            {% include 'includes/menu.html.twig' %}
                        </div>

                        <!-- titre -->
                        <div class="col-lg-9 col-md-9 col-sm-12">

                            <!-- lien -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <h2 class="nouv">Nom</h2>
                                <ul class="listContact">
                                    <a href="{{ path('projectUpdate') }}" class="infoGenerale2">INFORMATIONS GÉNÉRALES</a>&emsp;
                                    <a href="{{ path('environmentUpdate') }}" class="contactLien4">ENVIRONNEMENT PROJET</a>
                                </ul>
                            </div>

                            <!-- debut carré -->
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="addContact">
                                        
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                    
                                        <form method="Post">  

                                            <div class="contactAffichage">
                                                                                                
                                                <h3 class="nomContact">Nom</h3>
                                                
                                                <input type="hidden" name="idEnvironnement" value=''>

                                                <br><br>
                                                <!-- nom -->
                                                <div class="nom">                                       
                                                    <label class="labEnv">Nom &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                                                    <input name="name" class="inputEnv0" value="">
                                                </div>
                                                

                                                <br>
                                                <!-- addresse ip -->
                                                <div class="ip_addresse">
                                                    <label class="labEnv" for="ip_address">Adresse IP&emsp;&emsp;&emsp;&emsp;</label>
                                                    <input class="inputEnv1" name="ip_address" value="">
                                                </div>  

                                                <br>
                                                <!-- ssh_username -->
                                                <div class="ssh_username">
                                                    <label class="labEnv" for="ssh_username">Nom utilisateur &emsp;&emsp;</label>
                                                    <input class="inputEnv2" name="ssh_username" value="">
                                                </div>  
                                                
                                                <!-- sauvegarder -->
                                                <div class="group-form">
                                                    <button type="submit" name="submit" class="btnOrange"><span class="glyphicon glyphicon-ok"></span> SAUVEGARDER</button>&emsp;                                            
                                                </div>

                                                <div class="form-right">
                                            
                                                    <br>

                                                    <!-- supprimer -->
                                                    <a href="#" data-toggle="modal" data-target="#modal" class="btnRouge"><span class="glyphicon glyphicon-trash"></span> SUPPRIMER</a>

                                                        <br><br><br>
                                                        <!-- port ssh -->
                                                        <div class="ssh_port">
                                                            <label class="labContact" for="ssh_port">Port SSH</label>
                                                            <input name="ssh_port" class="inputEnv4" value="">
                                                            <p class="error"></p>


                                                            <label for="ip_restriction">
                                                            <input name="ip_restriction" type="checkbox">&emsp;Restriction IP</label>
                                                        </div>
                                                        
                                                        <br>
                                                        <!-- lien phpmyadmin -->
                                                        <div class="phpmyadmin_link">
                                                            <label class="labContact" for="phpmyadmin_link">Lien PHPMyAdmin &emsp;</label>
                                                            <input class="inputEnv5" name="phpmyadmin_link" value="">   
                                                        </div>                                                

                                                        <br>
                                                        <!-- link -->
                                                        <div class="link">
                                                            <label class="labContact" for="link">Lien&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</label>
                                                            <input class="inputEnv6" name="link" value="">   
                                                        </div>
                                                        <br>
                                                </div>

                                                <!-- bouton form -->
                                                <div class="col-lg-12 col-md-12 col-sm-12">
                                                    <!-- modal suppression -->
                                                    <div class="modal fade" id="modal"> 
                                                        <div class="modal-dialog">
                                                            <div class="modal-content"> 
                                                                <div class="modal-header">
                                                                    <button type="button" class="close" data-dismiss="modal">x</button>
                                                                    <h5 class="modal-title" style="font-weight: bold;">Suppression d'un environment</h5>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <p>Voulez-vous vraiment supprimer l'environment <strong>"Nom"</strong> ?</p>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <form method="post">
                                                                        <input type="hidden" name="id_env" value="">
                                                                        <button type="submit" name="submit_delete" class="btnOrange">Supprimer</button>&emsp;
                                                                    </form>
                                                                    <button type="button" class="btnBlanc" data-dismiss="modal">Fermer</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                
                                        <!-- ajouter -->
                                        <br><br>
                                        <a href="{{ path('environmentAdd') }}" class="btnOrange">+ AJOUTER UN ENVIRONNEMENT</a>
                                        <br><br>

                                        <!-- pagination boutons -->
                                        <br><br><br>
                                        <div class="btnPlace1">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a href="" class="page-link"><span class="glyphicon glyphicon-chevron-left"></span></a>
                                                </li>
                                                <li class="page-item">
                                                    <a href="" class="page-link"><?= $page ?></a>
                                                </li>
                                                <li class="page-item" >
                                                    <a href="" class="page-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                                </li>
                                            </ul>                                     
                                        </div>
                                        <br><br>

                                    </form>                                

                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </section>
            
            {% include 'includes/footer.html.twig' %}

        {% endblock %}

    </body>
</html>